/* Boostrap is also used FYI */
main {
  width: 100%;
}

p {
  font-size: 18px;
}
img {
  max-width: 66%;
  min-width: 300px;
  margin-bottom: 10px;
  display: block;
}

form {
  width: 100%;
}

@media (min-width: 767.98px) {
  main {
    width: 66%;
  }
  form {
    width: 66%;
  }
}
