/* Boostrap is also used FYI */
main {
  width: 100%;
}

section {
  transition: border-color 0.25s ease, background-color 0.25s ease,
    padding-left 0.25s ease;
}

section:hover {
  border-style: none none none ridge;
  border-color: green;
  background-color: rgb(23, 27, 31);
  padding-left: 7px;
}

p {
  font-size: 18px;
}
img {
  max-width: 66%;
  min-width: 300px;
  margin-bottom: 10px;
  display: block;
}

form {
  width: 100%;
}

@media (min-width: 767.98px) {
  main {
    width: 66%;
  }
  form {
    width: 66%;
  }
}
